.auth-container[data-v-9b8b8895]{display:flex;justify-content:center;align-items:center;min-height:100vh;background-color:#f5f5f5}.auth-card[data-v-9b8b8895]{width:400px;padding:20px}.tabs-container[data-v-9b8b8895]{margin-top:20px}
