.status-panel[data-v-b8dbf9cc]{background-color:#fffc!important;margin-bottom:20px;border-radius:8px;box-shadow:0 2px 10px #0000001a}.status-item[data-v-b8dbf9cc]{margin:8px 0;font-size:16px;color:#333}
